<!doctype html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css",integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==",crossorigin="anonymous")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap", rel="stylesheet")
  title App keyboard
body
  .container
    .display
      h1.title Virtual keyboard by Sitecreator143
      textarea(data-output, placeholder="Write here")
      p(data-speech-helper) Подсказка для голосового набора

    .keyboard.keyboard--hidden(data-keyboard)
      .keyboard__keys
        .keyboard__first-row
          button(type="button", data-language).keyboard__key.keyboard__key--wide EN
          button(type="button", data-letter).keyboard__key 1
          button(type="button", data-letter).keyboard__key 2
          button(type="button", data-letter).keyboard__key 3
          button(type="button", data-letter).keyboard__key 4
          button(type="button", data-letter).keyboard__key 5
          button(type="button", data-letter).keyboard__key 6
          button(type="button", data-letter).keyboard__key 7
          button(type="button", data-letter).keyboard__key 8
          button(type="button", data-letter).keyboard__key 9
          button(type="button", data-letter).keyboard__key 0
          button(type="button", data-letter).keyboard__key -
          button(type="button", data-letter).keyboard__key =
          button(type="button", data-backspace).keyboard__key.keyboard__key--wide
            i.fas.fa-backspace


        .keyboard__second-row
          button(type="button", data-speech).keyboard__key.keyboard__key--wide.keyboard__key--activatable
            i.fas.fa-microphone-alt
          button(type="button", data-letter).keyboard__key q
          button(type="button", data-letter).keyboard__key w
          button(type="button", data-letter).keyboard__key e
          button(type="button", data-letter).keyboard__key r
          button(type="button", data-letter).keyboard__key t
          button(type="button", data-letter).keyboard__key y
          button(type="button", data-letter).keyboard__key u
          button(type="button", data-letter).keyboard__key i
          button(type="button", data-letter).keyboard__key o
          button(type="button", data-letter).keyboard__key p
          button(type="button", data-letter).keyboard__key [
          button(type="button", data-letter).keyboard__key ]
          button(type="button", data-audio).keyboard__key.keyboard__key--wide.keyboard__key--activatable.keyboard__key--active
            i.fas.fa-music

        .keyboard__third-row
          button(type="button", data-capslock).keyboard__key.keyboard__key--wide.keyboard__key--activatable
            i.fas.fa-caret-up
          button(type="button", data-letter).keyboard__key a
          button(type="button", data-letter).keyboard__key s
          button(type="button", data-letter).keyboard__key d
          button(type="button", data-letter).keyboard__key f
          button(type="button", data-letter).keyboard__key g
          button(type="button", data-letter).keyboard__key h
          button(type="button", data-letter).keyboard__key j
          button(type="button", data-letter).keyboard__key k
          button(type="button", data-letter).keyboard__key l
          button(type="button", data-letter).keyboard__key ;
          button(type="button", data-letter).keyboard__key '
          button(type="button", data-letter).keyboard__key \
          button(type="button", data-enter).keyboard__key.keyboard__key--wide
            i.fas.fa-greater-than

        .keyboard__fourth-row
          button(type="button", data-shift).keyboard__key.keyboard__key--wide.keyboard__key--activatable Shift
          button(type="button", data-letter).keyboard__key z
          button(type="button", data-letter).keyboard__key x
          button(type="button", data-letter).keyboard__key c
          button(type="button", data-letter).keyboard__key v
          button(type="button", data-letter).keyboard__key b
          button(type="button", data-letter).keyboard__key n
          button(type="button", data-letter).keyboard__key m
          button(type="button", data-letter).keyboard__key ,
          button(type="button", data-letter).keyboard__key .
          button(type="button", data-letter).keyboard__key ?
          button(type="button", data-done).keyboard__key.keyboard__key--wide
            i.fas.fa-check-circle

        .keyboard__fifth-row
          button(type="button", data-space).keyboard__key.keyboard__key--extra-wide  ___
          button(type="button", data-left).keyboard__key.keyboard__key--wide
            i.fas.fa-long-arrow-alt-left
          button(type="button", data-right).keyboard__key.keyboard__key--wide
            i.fas.fa-long-arrow-alt-right
